{% extends 'base.html.twig' %}

{% block title %}Propertys index{% endblock %}

{% block body %}
<div class="w-100 m-4">
    <h1>Annonce index</h1>

    <div class="container">
        <div class="row">
          
            {% for property in propertys %}
            <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card m-3">
                <div class="m-2">{{(property.image) }}</div>
                <div class="m-2">
                <p><strong>Code:</strong>{{ (property.code) }}</p>
                <p><strong>Surface:</strong>{{ (property.surface) }}<strong>M²</strong></p>
                <p><strong>Prix:</strong>{{ (property.prix) }} <strong>€</strong></p>
                <p><strong>Description:</strong>{{ (property.description) }}</p>
                <p><strong>Chambres:</strong>{{ (property.chambres) }}</p>
                <p><strong>Salle de Bains:</strong>{{ (property.salleBains) }}</p>
                <p><strong>Number des Etages:</strong>{{ (property.etages) }}</p>
                <p><strong>Numero-Etage:</strong>{{ (property.numeroEtage) }}</p>
                <p><strong>Adresse:</strong>{{ (property.adresse) }}</p>
                <p><strong>Ville:</strong>{{( property.ville) }}</p>
                <p><strong>Code-Postale:</strong>{{ (property.codePostale) }}</p>
                <p><strong>Region:</strong>{{ (property.region) }}</p>
                <p><strong>Publier à :</strong>{{ (property.createdAt ? property.createdAt|date('Y-m-d H:i:s') : '') }}</p>
               

            
                <p><strong>Internet :</strong>{{ property.internet ? 'Yes' : 'No' }}</p>
                <p><strong>Balcon :</strong>{{ property.balcon ? 'Yes' : 'No' }}</p>
                <p><strong>Garage :</strong>{{ property.garage ? 'Yes' : 'No' }}</p>
                <p><strong>Salle de sport :</strong>{{ property.gym ? 'Yes' : 'No' }}</p>
                <p><strong>Piscine :</strong>{{ property.piscine ? 'Yes' : 'No' }}</p>
                <p><strong>Camera :</strong>{{ property.camera ? 'Yes' : 'No' }}</p>
            
            </div>

                <div>
                    <a class="btn btn-primary m-4" href="{{ path('app_propertys_show', {'id': property.id}) }}"
                        role="button">show</a>
                    <a class="btn btn-primary m-4" href="{{ path('app_propertys_edit', {'id': property.id}) }}"
                        role="button">edit</a>
                </div>

            </div>
        </div>
        
           
        
            {% endfor %}
        </div>
    </div>
</div>


<a  class="btn btn-primary m-4" href="{{ path('app_propertys_new') }}">Create new</a>
{% endblock %}


